.error {
    color: red;
    font-weight: bold;
}

.success {
    color: mediumseagreen;
    font-weight: bold;
}

.categoriesPicture {
    display: inline-block;
    width:270px;
    height:290px;
    margin-left: 10px;
    text-align: center;
}

.categoriesPicture img {
    width:260px;
    height:260px;
}

.auction {
    letter-spacing: 2px;
    border: 2px solid #d1c286;
    display: inline-block;
    margin-bottom: 20px;
    padding: 7px 20px 10px 20px;
}